html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

* {
  box-sizing: border-box;
}